<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet" />
    <title>Đăng ký</title>
</head>
<body class="container">
<!-- Để upload file phải thêm enctype="multipart/form-data"  !-->
<form action="{{ url_for('register') }}" enctype="multipart/form-data" method="post">
    <h2 class="text-center text-primary">Đăng ký</h2>
    {% if err_msg %}
    <h4 class="alert alert-danger">{{ err_msg }}</h4>
    {% endif %}

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control">
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>

    <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" id="confirm_password" class="form-control">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control">
    </div>

    <div class="form-group">
        <label for="avatar">Avatar</label>
        <input type="file" name="avatar" id="avatar" class="form-control-file">
    </div>

    <div class="form-group">
        <input type="submit" value="Đăng ký" class="btn btn-primary">
    </div>
</form>
</body>
</html>